@import '@abgov/design-tokens/dist/tokens.scss';
@import '@mixins/scrollbar.mixin.scss';

.link {
  text-align: right;

  a {
    color: $goa-color-interactive-default;
    margin-right: $goa-space-2xl;
    text-decoration: underline;
  }
}

table {
  @include thin-scrollbar;
}

th {
  vertical-align: middle;
}

.number {
  font-family: $goa-font-family-number;
}

.div {
  flex-direction: row;
  justify-content: space-between;
}

.checkboxHeader {
  max-width: 2%;
  padding-top: $goa-space-m;
  padding-bottom: $goa-space-m;
  padding-left: $goa-space-xl;
}

.checkboxControl {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}

.roboto {
  font-family: 'Roboto Mono';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: $goa-space-s;
}

.headerRow {
  vertical-align: middle;
  max-width: 10%;
}

.headerRowCurrency {
  vertical-align: middle;
  max-width: 10%;
  text-align: right;
}

.dropdownContainer {
  display: inline-block;
  margin-right: $goa-space-m;

}

.toolbar {
  display: flex;
  margin-bottom: 5px;

  .spacer {
    flex: 1;
    padding-right: $goa-space-s;
    vertical-align: middle;
  }
}

.footerRecordCount {
  padding-right: 5px;
  padding-top: 10px;
  vertical-align: middle;
  padding-bottom: 10px;
}