@import '@abgov/design-tokens/dist/tokens.scss';
@import '@mixins/scrollbar.mixin.scss';
.container {
  height: 100%;
  width: 100%;
  flex: 1;
  overflow-x: auto;
  display: flex;
  @include thin-scrollbar;

  th {
    span {
      white-space: nowrap;
    }
  }
  .checkboxColumn {
    // goa checkbox has min height of 44 for the description
    // goa th has a padding of 12px
    // eliminating the bottom padding makes 32px (2rem)
    padding-bottom: 0px;
    .checkboxWrapper {
      color: red;
    }
  }
  .row {
    td {
      // goa td has a bottom padding of .75 rem, 1 is needed to account for the goa components in other rows
      padding-bottom: 1rem;
      white-space: nowrap;
    }
  }
}
