@import '@abgov/design-tokens/dist/tokens.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: row;

  .sideBar {
    flex-shrink: 0;
    width: 394px;
    padding: $goa-space-xl $goa-space-l;
  }
  .main {
    flex-grow: 0;
    overflow-x: auto;
  }
}
.footer {
  height: 80px;
}
