@import '@abgov/design-tokens/dist/tokens.scss';
@import '@mixins/scrollbar.mixin.scss';
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.content {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: $goa-space-xs;
  .sideBar {
    @include thin-scrollbar;
    overflow-y: auto;
    background-color: $goa-color-greyscale-100;
    flex-shrink: 0;
    width: 394px; // from figma
    padding: $goa-space-xl $goa-space-l;
    .header {
      font: $goa-typography-heading-l;
      line-height: $goa-line-height-6;
      margin-bottom: $goa-space-l;
    }
  }
  .main {
    overflow-y: auto;
    overflow: hidden;

    // this is all to make the tabs have a hidden scroll. the goa component wont work that way
    .tabGroupContainer {
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      .tabList {
        border-bottom: $goa-border-width-s solid $goa-color-greyscale-200;
        display: flex;
        gap: $goa-space-xl;

        [role='tab'] {
          padding: $goa-space-s $goa-space-m;

          background: none;
          overflow: hidden;
          white-space: nowrap;
          cursor: pointer;
          border: none;
          font: $goa-typography-body-m;
          color: $goa-color-text-default;
          letter-spacing: 0.03125rem;
          border-bottom: 4px solid transparent;
          &:hover:not([aria-selected='true']) {
            border-bottom: 4px solid $goa-color-greyscale-200;
          }
          &[aria-selected='true'] {
            border-bottom: 4px solid $goa-color-interactive-default;
            font: $goa-typography-heading-s;
          }
        }
      }
      .tabContainer {
        overflow: hidden;
      }
    }
  }
}
.footer {
  display: flex;
  padding: calc($goa-space-m + $goa-space-3xs)
    calc($goa-space-l - $goa-space-3xs);
  flex-direction: column;
  align-items: flex-end;
  gap: calc($goa-space-xs + $goa-space-3xs);
}
