@import '@abgov/design-tokens/dist/tokens.scss';
@import '@mixins/scrollbar.mixin.scss';
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.content {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  .sideBar {
    @include thin-scrollbar;
    overflow-y: auto;
    background-color: $goa-color-greyscale-100;
    flex-shrink: 0;
    width: 394px;
    padding: $goa-space-xl $goa-space-l;

    .header {
      font: $goa-typography-heading-l;
      line-height: $goa-line-height-6;
      margin-bottom: $goa-space-l;
    }
  }
  .main {
    @include thin-scrollbar;
    flex-grow: 0;
    overflow-x: auto;
    overflow-y: auto;

    // hack because the goa components are closed
    goa-tabs {
      display: flex !important;
    }
  }
}
.footer {
  height: 80px;
}
