@import '@abgov/design-tokens/dist/tokens.scss';

.container {
  display: flex;
  flex-direction: column;
  > div {
    display: flex;
    flex-direction: row;
    color: red;

    div {
      flex: 1;
    }
  }
}
.row {
  //   display: flex;
  //   flex-direction: column;
  //   color: red;
}
