@import '@abgov/design-tokens/dist/tokens.scss';

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: $goa-space-m;
  > div {
    div:first-child() {
      color: red;
    }
  }
}
.containeFlex {
  display: flex;
  flex-direction: column;
  > div {
    display: flex;
    flex-direction: row;
    color: red;

    div {
      flex: 1;
    }
  }
}
.row {
  //   display: flex;
  //   flex-direction: column;
  //   color: red;
}
