:host {
  box-sizing: border-box;
  font: var(--goa-typography-body-m);
}
.tab {
  display: flex;
  gap: var(--goa-space-xs);
}
[role='tab'] {
  background: none;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  font: var(--goa-typography-body-m);
  color: var(--goa-color-text-default);
  letter-spacing: 0.03125rem;
}
[role='tab'][aria-selected='true'] {
  font: var(--goa-typography-heading-s);
}
[role='tab']:focus-visible {
  outline: var(--goa-border-width-l) solid var(--goa-color-interactive-focus);
}
[role='tab']:hover:not([aria-selected='true']),
[role='tab']:focus:not([aria-selected='true']),
[role='tab']:focus-visible:not([aria-selected='true']) {
  border-color: var(--goa-color-greyscale-200);
}
@media (min-width: 640px) {
  [role='tablist'] {
    border-bottom: none;
  }
  .tabs {
    border-bottom: var(--goa-border-width-s) solid
      var(--goa-color-greyscale-200);
    display: flex;
    gap: var(--goa-space-xl);
  }
  [role='tab'] {
    padding: var(--goa-space-s) var(--goa-space-m);
    border-bottom: 4px solid transparent;
  }
  [role='tab'][aria-selected='true'] {
    border-color: var(--goa-color-interactive-default);
  }
}
@media (max-width: 639px) {
  [role='tab'] {
    width: 100%;
    padding: var(--goa-space-xs) 0;
    padding-left: 12px;
    border-left: 4px solid transparent;
  }
  [role='tab'][aria-selected='true'] {
    border-color: var(--goa-color-interactive-default);
    background: var(--goa-color-info-background);
  }
}
