@import '@abgov/web-components/index.css';
@import '@abgov/design-tokens/dist/tokens.scss';

html {
  overflow: hidden;
}
.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .padding {
    margin-right: $goa-space-m;
  }
}

.outletContainer {
  flex: 1;
  overflow-y: auto;
  display: flex;
}

.account {
  display: flex;
  align-items: center;
  span {
    margin-left: $goa-space-xs;
    margin-right: $goa-space-xs;
  }
}
