@import '@abgov/design-tokens/dist/tokens.scss';
@import '@mixins/scrollbar.mixin.scss';
.chevron,
.link {
  text-align: right;
  a {
    color: $goa-color-interactive-default;
    margin-right: $goa-space-2xl;
    text-decoration: underline;
  }
}
table {
  @include thin-scrollbar;
  //   table-layout: fixed;
}
th {
  vertical-align: middle;
}
.number {
  font-family: $goa-font-family-number;
}
.tableContainer {
  table {
    table-layout: fixed;
  }
}
.div {
  flex-direction: row;
  justify-content: space-between;
}
