@import '@abgov/design-tokens/dist/tokens.scss';

.topHeader {
  margin-bottom: $goa-line-height-5;
}

.header {
  padding-left: $goa-line-height-7;
  margin-bottom: 0px;
  margin-top: 0px;
}

main {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-right: $goa-space-m;
  padding-left: $goa-space-m;
}

.container {
  display: grid;
  padding: 0 $goa-space-m;
  grid-template-columns: 1fr;
  row-gap: $goa-space-s;
  padding-left: $goa-line-height-7;
  margin-top: $goa-line-height-5;

  >div {
    word-break: break-all;

    div:first-child {
      color: $goa-color-text-default;
      font: $goa-typography-body-m;
      line-height: $goa-line-height-5;
      font-weight: $goa-font-weight-bold;
    }

    div:nth-child(2) {
      color: $goa-color-text-secondary;
      font: $goa-typography-body-s;
      line-height: $goa-line-height-1;
    }
  }

  a {
    text-decoration: underline;
  }
}

.twoColContainer {
  display: grid;
  padding: 0 $goa-space-s;
  grid-template-columns: 1fr 1fr;
  row-gap: $goa-space-m;
  padding-left: $goa-line-height-7;
  padding-top: $goa-line-height-1;
  column-gap: $goa-space-xl;

  >div {
    word-break: break-all;

    div:first-child {
      color: $goa-color-text-default;
      font: $goa-typography-body-m;
      line-height: $goa-line-height-5;
      font-weight: $goa-font-weight-bold;
    }

    div:nth-child(2) {
      color: $goa-color-text-secondary;
      font: $goa-typography-body-s;
      line-height: $goa-line-height-1;
    }
  }

  a {
    text-decoration: underline;
  }
}