@import '@abgov/design-tokens/dist/tokens.scss';

.mainContainer {
  width: 65%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.contractDetailRoot {
  display: flex;
  height: 100%;
  width: 100%;
  margin-left: 10px;
}

.contractDetailMain {
  height: 100%;
  width: 50%;
}

.linksToEditAndSave {
  display: flex;
  justify-content: right;
  padding-right: $goa-space-xs;
}

.main {
  flex: 1;
  overflow-y: auto;
  overflow: hidden;

  // this is all to make the tabs have a hidden scroll. the goa component wont work that way
  .tabGroupContainer {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .tabList {
      border-bottom: $goa-border-width-s solid $goa-color-greyscale-200;
      display: flex;
      width: fit-content;
      gap: $goa-space-xl;

      [role='tab'] {
        padding: $goa-space-s $goa-space-m;

        background: none;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        border: none;
        font: $goa-typography-body-m;
        color: $goa-color-text-default;
        letter-spacing: 0.03125rem;
        border-bottom: 4px solid transparent;

        &:hover:not([aria-selected='true']) {
          border-bottom: 4px solid $goa-color-greyscale-200;
        }

        &[aria-selected='true'] {
          border-bottom: 4px solid $goa-color-interactive-default;
          font: $goa-typography-heading-s;
        }
      }
    }

    .tabContainer {
      overflow: hidden;
      padding-top: $goa-space-m;
    }
  }
}