@import '@abgov/design-tokens/dist/tokens.scss';

.search {
  min-width: 300px;
  .searchInput {
    position: relative;
    &Wrapper {
      display: flex;
      border-radius: 4px;
      border: 1px solid $goa-color-greyscale-700;
      background: $goa-color-greyscale-white;
      &:focus-within {
        outline: solid $goa-border-width-l $goa-color-interactive-focus;
      }
      input {
        border: none;
        &:focus {
          outline: none;
        }
        flex: 1;
        margin-left: $goa-space-xs;
        min-height: 42px;
      }
    }

    .closeButton {
      display: inline-flex;
    }
    & .container {
      position: absolute;
      background-color: $goa-color-greyscale-white;
      max-height: 200px;
      overflow-x: hidden;
      overflow-y: auto;
      border-radius: $goa-border-radius-m;
      scrollbar-width: thin;
      z-index: 999999;
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        background: $goa-color-greyscale-white;
      }
      &::-webkit-scrollbar-thumb {
        background: $goa-color-greyscale-200;
      }

      /* Drop shadow/Popover */
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
      &.showMenu {
        visibility: visible;
      }
      &.hideMenu {
        visibility: hidden;
      }
      .item {
        &:hover,
        &.hover {
          background: $goa-color-greyscale-100;
          color: $goa-color-brand-dark;
        }
        &:active,
        &.active {
          background: $goa-color-interactive-default;
          color: $goa-color-greyscale-white;
        }
        padding: $goa-space-s;
      }
    }
  }
}
