@import '@abgov/design-tokens/dist/tokens.scss';
@import '@mixins/scrollbar.mixin.scss';
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  .buttons {
    display: flex;
    margin: $goa-space-l;
    gap: $goa-space-l;
  }
  .multiSelect {

    max-width: 300px;
    width: 300px;

  }
}
