@import '@abgov/design-tokens/dist/tokens.scss';
@import '@mixins/scrollbar.mixin.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.spacer {
  flex: 1;
}
.content {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: $goa-space-xs;

  .sideBar {
    @include thin-scrollbar;
    overflow-y: auto;
    background-color: $goa-color-greyscale-100;
    flex-shrink: 0;
    width: 394px; // from figma
    padding: $goa-space-xl $goa-space-l;

    .summaryContainer {
      margin-top: $goa-space-l;
    }

    .headerContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .tabHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main {
    flex: 1;
    overflow-y: auto;
    overflow: hidden;

    // this is all to make the tabs have a hidden scroll. the goa component wont work that way
    .tabGroupContainer {
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      .tabList {
        border-bottom: $goa-border-width-s solid $goa-color-greyscale-200;
        display: flex;
        width: fit-content;
        gap: $goa-space-xl;

        [role='tab'] {
          padding: $goa-space-s $goa-space-m;

          background: none;
          overflow: hidden;
          white-space: nowrap;
          cursor: pointer;
          border: none;
          font: $goa-typography-body-m;
          color: $goa-color-text-default;
          letter-spacing: 0.03125rem;
          border-bottom: 4px solid transparent;

          &:hover:not([aria-selected='true']) {
            border-bottom: 4px solid $goa-color-greyscale-200;
          }

          &[aria-selected='true'] {
            border-bottom: 4px solid $goa-color-interactive-default;
            font: $goa-typography-heading-s;
          }
        }
      }

      .tabContainer {
        overflow: hidden;
      }
    }
  }
}

.footer {
  display: flex;
  padding: calc($goa-space-m + $goa-space-3xs) calc($goa-space-l - $goa-space-3xs);
  flex-direction: row-reverse;
  align-items: flex-end;
  gap: calc($goa-space-xs + $goa-space-3xs);

  .icon {
    display: inline-block;
    transform: rotate(270deg);
    vertical-align: text-bottom;
    margin-right: $goa-space-2xs;
  }
}

.tableInvoiceHeader {
  overflow-x: auto;
  max-width: 100%;

  tr td {
    padding: 0;
  }

  tr td:nth-child(1) {
    width: 30%;
  }

  tr td:nth-child(2) {
    width: 65%;
  }

  tr td:nth-child(3) {
    width: 5%;
  }
}
