@import '@abgov/design-tokens/dist/tokens.scss';
@import '@mixins/scrollbar.mixin.scss';
@import '@mixins/scrollbar.mixin.scss';

.container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .tabContainer {
        @include thin-scrollbar;
        overflow: auto;
        flex: 1;
    }
}

.costDetailsDiv {
    padding: $goa-space-l;
    overflow-y: auto;
}

.otherCostHeader {
    font: $goa-typography-heading-s;
    line-height: $goa-line-height-1;
    margin-bottom: $goa-space-l;
    padding-left: $goa-space-l;
    padding-top: $goa-space-l;
}


.otherCostsDiv {
    padding: $goa-space-s;
    overflow-y: auto;
}